@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap);
:root {
    --color-grey-dark: #1f1f1f;
    --color-grey: #282828;
    --color-grey-light: #333333;
    --color-grey-lighter: #848484;
    --color-white: #fff;
    --color-black: #000;
    --color-orange: #e67e22;
    --color-green: #2ecc71;
    --color-yellow: #f1c40f;
    --color-red: #c0392b;

    --sidebar-width: 100vw;
    --header-height: 3rem;
    --z-fixed: 100;
    --z-overlay: 200;
    --z-modal: 300;
}

/* || General Styles */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--color-grey-dark);
    position: relative;
    margin-top: var(--header-height);
    padding: 0 1rem;
    transition: padding 0.5s;
}

/* Inherit fonts for inputs and buttons */
input,
button,
select {
    font: inherit;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
    padding: 0;
    border: none;
    color: inherit;
    background-color: transparent;
}

button > * {
    pointer-events: none;
}

/* || Button styles */

.btn {
    display: inline-block;
    border: solid 1px transparent;
    border-radius: 0.2em;
    padding: 0.6em 1.5em;
    transition: opacity 150ms ease-in-out;
}

.btn:active {
    transform: translateY(1px);
}

.btn:hover {
    opacity: 0.8;
}

.btn:focus {
    outline: none;
    border: 1px solid var(--color-white);
}

.btn--square {
    padding: 0;
    --size: 2em;
    width: var(--size);
    height: var(--size);
    min-width: var(--size);
}

.btn--submit {
    background-color: var(--color-orange);
}

.btn--cancel {
    background-color: var(--color-grey-light);
}

.btn-row {
    display: flex;
}

.btn-row > * + * {
    margin-left: 0.5em;
}

/* || Header */

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    z-index: calc(var(--z-fixed) + 1);
    transition: height 0.5s;
    background-color: var(--color-grey);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.header__toggle {
    color: var(--color-white);
    font-size: 1.5rem;
    cursor: pointer;
}

/* || Side Menu */

.side-menu {
    background-color: var(--color-grey);
    color: var(--color-white);
    width: var(--sidebar-width);
    position: fixed;
    overflow: hidden;

    top: var(--header-height);
    height: calc(100vh - var(--header-height));
    z-index: var(--z-fixed);
    left: -200%;
    padding: 1rem 0.5rem;
    transition: left 0.5s, width 0.5s, top 0.5s;
}

.mobile-open {
    left: 0;
}

.side-menu:hover {
    overflow-y: auto;
}

.side-menu .section-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
    font-size: 1.5rem;
    align-items: center;
    padding: 0.2em 0.3em;
    width: 100%;
}

.side-menu .section-title {
    margin-left: 0.5em;
    font-weight: 600;
    letter-spacing: 2px;
}

.side-menu .project {
    margin-top: 1em;
}

.side-menu .project-row-btn {
    padding: 0.5em 1em;
    width: 100%;
    text-align: left;
    font-size: 1rem;
    word-break: break-all;
    border-radius: 0;
}

.side-menu .project-row-btn:hover {
    background-color: var(--color-grey-light);
}

.project-row-btn--highlight {
    background-color: var(--color-grey-light);
}

.side-menu .project-color {
    color: var(--color-grey-lighter);
    font-size: 1.5em;
    line-height: 1ch;
    margin-right: 0.3em;
}

.side-menu .todo-count {
    color: var(--color-grey-lighter);
    margin-left: 0.2em;
    font-size: 0.8em;
}

/* || Project view */

.project-view-container {
    background-color: var(--color-grey-dark);
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5em 1em;
}

.project-view {
    width: 100%;
    max-width: 800px;
}

.project-view header {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5em;
}

.project-view .project-name {
    font-size: 2rem;
    margin-right: 1em;
}

.project-view .todo {
    --todo-spacing: 1em;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid var(--color-grey-lighter);
}

.project-view .todo.todo--complete {
    display: var(--complete-todo-display);
}

.todo-container > * + * {
    margin-top: var(--todo-spacing);
}

.project-view .todo-info {
    display: flex;
    flex-direction: column;
}

.project-view .todo-info > * + * {
    margin-top: 0.75em;
}

.project-view .todo-due-date {
    color: var(--color-grey-lighter);
}

.todo label {
    display: flex;
    align-items: flex-start;
    position: relative;
    margin-right: 1em;
    width: 100%;
    cursor: pointer;
    line-height: 1em;
    padding-bottom: var(--todo-spacing);
}

/* || Custom checkbox */

.hide-checkbox {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.custom-checkbox {
    --size: 1em;
    display: inline-block;
    width: var(--size);
    height: var(--size);
    min-width: var(--size);
    min-height: var(--size);
    margin-right: var(--size);
    cursor: pointer;
    border: 2px solid currentColor;
    border-radius: 50%;
    transform: scale(1);
    transition: transform 300ms ease-in-out;
}

label:hover .custom-checkbox,
[type="checkbox"]:focus + label .custom-checkbox {
    transform: scale(1.2);
    background-color: var(--color-grey-light);
}

[type="checkbox"]:checked + label .custom-checkbox {
    background-color: var(--color-grey-light);
    border-color: var(--color-grey-light);
    box-shadow: inset 0 0 0 2px var(--color-white);
}

[type="checkbox"]:checked + label {
    opacity: 0.5;
}

[type="checkbox"]:checked + label .todo-name {
    text-decoration: line-through;
}

/* || Modal */

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    /* scale used instead of display none so can use transitions */
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: var(--z-modal);
    width: 400px;
    max-width: 80%;
    background-color: var(--color-grey);
    color: var(--color-white);
}

.modal--active {
    transform: translate(-50%, -50%) scale(1);
}

.modal__header {
    padding: 10px 15px;
    border-bottom: 1px solid var(--color-grey-light);
    background-color: var(--color-grey-dark);
    border-radius: 10px 10px 0 0;
}

.modal__title {
    font-size: 1.25rem;
    font-weight: 400;
}

.modal__body {
    padding: 10px 15px;
}

.modal__form > * + * {
    margin-top: 1rem;
}

.modal__form-group {
    display: flex;
    flex-direction: column;
}

.modal__form-group label {
    padding: 0.5em 0;
    font-size: 0.9rem;
}

.modal__form-group input,
.modal__form-group select {
    padding: 0.25em;
    font-size: 1rem;
    border-radius: 0.25em;
    background-color: var(--color-grey-dark);
    color: var(--color-white);
    border: 1px solid var(--color-grey-light);
    transition: border-color 0.15s ease-in-out;
}

.modal__form-group input:hover,
.modal__form-group select:hover {
    border-color: var(--color-white);
}

.modal__form-group input:focus,
.modal__form-group select:focus {
    outline: none;
    border-color: var(--color-white);
}

.modal__btn-group {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 1.5rem;
}

.modal__btn-group > * + * {
    margin-left: 1rem;
}

.modal__btn-group > .btn {
    font-size: 0.8rem;
    font-weight: 600;
}

/* || Overlay */

#overlay {
    position: fixed;
    z-index: var(--z-overlay);
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, 0.5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* || Media queries */

/* || Media queries - Desktop */

@media screen and (min-width: 768px) {
    :root {
        --sidebar-width: 420px;
    }

    .desktop-open {
        padding-left: calc(var(--sidebar-width) + 1rem);
    }

    .desktop-open .side-menu {
        left: 0;
    }

    .header {
        height: calc(var(--header-height) + 1rem);
    }

    .side-menu {
        top: calc(var(--header-height) + 1rem);
    }

    .project-view-container {
        padding: 3em;
    }
}


/*# sourceMappingURL=main.bundle.css.map*/