@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

:root {
    --main-bg-color: #1F1F1F;
    --main-font-color: #fff;
    --secondary-font-color: #848484;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--main-bg-color);
}

img {
    width: 100%;
}

button {
    cursor: pointer;
    padding: 0;
    border: none;
    color: inherit;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
}

button:focus {
    outline: none;
}

.side-menu {
    background-color: #282828;
    color: var(--main-font-color);
    width: 420px;
    height: 100vh;
    padding: 1.5rem 0 1.5rem 3rem;
    position: fixed;
}

.side-menu:hover {
    overflow-y: auto;
}

.side-menu .section-header {
    display: flex;
    margin-bottom: 0.5em;
    font-size: 2rem;
}

.side-menu .section-expand-btn {
    display: flex;
    align-items: center;
    padding: 0.2em 0.3em;
    width: 100%;
}

.side-menu .section-title {
    margin-left: 0.5em;
    font-weight: 600;
    letter-spacing: 2px;
}

.side-menu .add-btn {
    padding: 0 0.4em;
}

.side-menu .projects-container {
    list-style: none;
}

.side-menu .project {
    margin-top: 1em;
}

.side-menu .project-row-btn {
    padding: 0.5em 1em;
    width: 100%;
    text-align: left;
    font-size: 1rem;
    word-break: break-all;
}

.side-menu .project-row-btn:hover {
    background-color: #3C3C3C;
}

.side-menu .project-color {
    color: var(--secondary-font-color);
    font-size: 1.5em;
    line-height: 1ch;
    margin-right: 0.3em;
}

.side-menu .todo-count {
    color: var(--secondary-font-color);
    margin-left: 0.2em;
    font-size: 0.8em;
}